<div id='g_id_onload'
data-client_id='259494879046-t6ejuqrlbmgdlqotrkes0fgev4iak86e.apps.googleusercontent.com'
data-context='signin'
data-ux_mode='popup'
data-login_uri='https://travel.up.railway.app/welcome'
data-auto_prompt='false'>
</div>

<div class='g_id_signin'
     data-type='standard'
     data-shape='rectangular'
     data-theme='outline'
     data-text='continue_with'
     data-size='large'
     data-logo_alignment='left'>
</div>