extends base

block variables
  - const title = "Register"

block body 
  if error 
    p ERROR: #{error}

  h1 Create an account
  span Or 
  a(href='/login') login
  br
  br


  form(method="post")
    span First Name
    input(type="text", name="firstName", required=true)
    br

    span Last Name 
    input(type="text", name="lastName", required=true)
    br
    
    span Email
    input(type="text", name="email", required=true)
    br
    
    span Password 
    input(type="password", name="password", required=true)
    br

    input(type="submit")